<a href="https://colab.research.google.com/github/MadanBaduwal/feature-engineering/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Most : 

* Algorithm lai focus vayara data create garni and data jasto x testai prakarko algorithm select garni. 

* Algorithm ko mathematic bujyara tai anushar ko data or data jasto x testai algorithm.

# Data structure for feature engineering.

## Column, features,variable,axis=1

## Row,axis=0

# Feature(column,variabl,axis=1) Datatype

## Numerical

### Discrete
### Continious

## Categorical

### Ordinal(order)

Eg: A,B,C..

### Nominal(not order)

Eg: USA,Nepal...

## Mixed(numerical + categorical)

## Datetime

# Characteristics of features(variable,column,axis=1)

## 1. Missing data (Nan)

## 2. Cardinality 

|  id |  sex | 
|---|---|
| 1  | male  |   
|  2 |  femal |  
|  3 |  femal |  
| 4  | male|

id= high cardinality(low repetation)=problem
sex= low cardinality(high repetation)=no problem
## 3. Rearer label(imbalance data)
 
|  id |  sex | 
|---|---|
| 1  | femal |   
|  2 |  femal |  
|  3 |  femal |  
| 4  | male|


Here is male label is rarer label.

##3. Linear model ssumption

* Linearity- 
* Independence-feature haru independent hunuparyo ak apas ma (correlated features madhya auta lai drop garni jo target sanga low correated x)
* Homoscendacity-
* Normality

# Code

## [PANDA](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

### Load data(C)

In [ ]:
from google.colab import drive

drive.mount("/drive")

In [ ]:
import pandas as pd

In [ ]:
#data=pd.read_csv('/drive/My Drive/ drive location')
#data=pd.read_csv('git link')

data=pd.read_csv('/content/sample_data/california_housing_test.csv')

### Count the number of features(columns)

In [ ]:
print("the number of columns are:",len(data.columns))

the number of columns are: 9

### Let's see the columns

In [ ]:
print("the columns are:",data.columns)

the columns are: Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

### Lets see the data type of features(R)

In [ ]:
print(data.dtypes)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

Panda support data types are:

* object
* int64
* float64
* bool
* datetime64
* timedelta[ns]
* category

In [ ]:
# Convert one datatype into another(mostly we need to convert objet into int,float,categorical..)

data['longitude']=data['longitude'].astype('object')
print(data.dtypes)

longitude              object
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

###Information of data or statistics of data(R)

In [ ]:
data["longitude"].describe()

count    3000.000000
mean     -119.589200
std         1.994936
min      -124.180000
25%      -121.810000
50%      -118.485000
75%      -118.020000
max      -114.490000
Name: longitude, dtype: float64

In [ ]:
data.info

<bound method DataFrame.info of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

In [ ]:
data.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

#### Interpration of stastics:

Step by step: 

1. count = n = Total number of datapoints(repeated also count seperatly)

2. Mean=$\overline{x}$=$\frac{\sum_{i=1}^{n}(x_i)}{n}$ = mean of the data points

3. std(standard deviation)==$\sqrt{\frac{\sum_{i=1}^{n}(x_i-\overline{x})^2}{n-1}}$  = we can clearly see the standard deviation is around 1 is better or standard deviation

4. min =$x_{min}$

5. 25%=25,the upper quarter of the data.

6. 50%=median(middle)= middle value

7. 75%=75,the lower quarter of the data.

8. max =$x_{max}$


Conclusion:

1. if mean>median =right skewed
2. if mean< median =left skewed

### Operation in features(U)

`data.featurename.operation or function()`

### Slicing data(U or R)

`data.loc[row,column]`

In [ ]:
data.iloc[:,:]

In [ ]:
data.iloc[1:2] # row=0-2 exclude 2 , column=all defult

In [ ]:
data.iloc[:,1:2] # row= defult all , column=0-2 exclude 2

In [ ]:
data['households'] #

0        606.0
1        277.0
2        495.0
3         11.0
4        237.0
         ...
2995     607.0
2996    1036.0
2997     220.0
2998      14.0
2999     260.0
Name: households, Length: 3000, dtype: float64